.img {
    width: 20%;
}
{
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #5E6977;
    font-family: "Kanit", Times, serif;
  }
  .shopping-cart {
    width: 750px;
    height: 900px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px;
    color: #5E6977;
    font-size: 20px;
    font-weight: 400;
  }
   
  .item {
    padding: 30px;
    height: 200px;
    display: flex;
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
    color: black;
  }
  .description span {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  } 
  .price {
    width: 60px;
    height: 20px;
  }
  .amount {
    width: 30px;
  }
.discount {
    width: 250px;
    height: 50px;
    margin-bottom: 400px;
    border-radius: 8px;
    background-color: black;
    color: aliceblue;
    font-family: "Kanit", Times, serif;
}
.subtotalValue {
   width: 80px;
   height: 40px;
}
.total {
    display: flex;
    justify-content: space-around;
}